@page
@model DichotomieWeb.Pages.Forum.Replies.IndexModel

@{
    ViewData["Title"] = "Replies";
}

<h2>Replies</h2>

<p>
    <a asp-page="Create" asp-route-topicId="@Model.TopicId">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var reply in Model.Replies)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => reply.CreationDate)
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a asp-page="./Edit" asp-route-id="@reply.ReplieId">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@reply.ReplieId">Delete</a>
                    }
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reply.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => reply.MainContent)
                </td>
            </tr>
        }
    </tbody>
</table>
