@page
@model DichotomieWeb.Pages.Forum.Replies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reply[0].MainContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reply[0].CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reply[0].ModificationDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reply) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.MainContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReplieId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReplieId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReplieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
