@page
@model DichotomieWeb.Pages.Forum.Search.IndexModel
@{
    ViewData["Title"] = "Index";
}

<form>
    <p>
        Name: <input type="text" name="SearchString">
        Category:   <select asp-items="Model.CategorySLI" name="SearchCategory"></select>
        <input type="submit" value="Filter" />
    </p>
</form>
<br />
<table class="table">
    <tbody>
        @foreach (var item in Model.Topics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
           @if (item.Pin)
            {
                @if (item.Close)
                {
                    <span><i class="glyphicon glyphicon-tag"></i><i class="glyphicon glyphicon-lock"></i> @Html.DisplayFor(modelItem => item.Title)</span>
                }
                else
                {
                    <i class="glyphicon glyphicon-tag"></i><a asp-page="/Forum/Replies/Index" asp-route-topicId="@item.TopicId"> @Html.DisplayFor(modelItem => item.Title)</a>
                }
           }
           else
           {
                @if (item.Close)
                {
                <span><i class="glyphicon glyphicon-lock"></i> @Html.DisplayFor(modelItem => item.Title)</span>
                }
                else
                {
                <a asp-page="/Forum/Replies/Index" asp-route-topicId="@item.TopicId">@Html.DisplayFor(modelItem => item.Title)</a>
                }
           }
                </td>
            </tr>
        }
    </tbody>
</table>