@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Homepage</h2>

<table class="table">
    <span>Recent posts</span>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Replies
            </th>
            <th>
                Last Reply By
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {

            <tr>
                <td>
                    <a asp-page="/Forum/Replies/Index" asp-route-topicId="@topic.TopicId">@Html.DisplayFor(modelItem => topic.Title)</a>
                </td>
                <td>
                    Replies : @Html.DisplayFor(modelItem => topic.Replies.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topic.Replies.FirstOrDefault().User.UserName)
                    @Html.DisplayFor(modelItem => topic.Replies.FirstOrDefault().CreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>

