@page
@model DichotomieWeb.Pages.Forum.Topics.IndexModel

@{
    ViewData["Title"] = "Topics";
}

<h2>Topics</h2>

<p>
    <a asp-page="Create" asp-route-categoryId="@Model.CategoryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Replies
            </th>
            <th>
                Last Reply By
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {

            <tr>
                <td>
                    @if (topic.Close)
                    {
                        <span><i class="glyphicon glyphicon-lock"></i> @Html.DisplayFor(modelItem => topic.Title)</span>
                    }
                    else
                    {
                        <a asp-page="/Forum/Replies/Index" asp-route-topicId="@topic.TopicId">@Html.DisplayFor(modelItem => topic.Title)</a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                            <a asp-page="./Edit" asp-route-id="@topic.TopicId">Edit</a>
                    }
                </td>
                <td>
                    Replies : @Html.DisplayFor(modelItem => topic.Replies.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => topic.Replies.FirstOrDefault().User.UserName)<br />
                    @Html.DisplayFor(modelItem => topic.Replies.FirstOrDefault().CreationDate)
                </td>
            </tr>
        }
    </tbody>
</table>
