@page
@model DichotomieWeb.Pages.Manage.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.AccessFailedCount)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ApplicationUser.Id" type="hidden" value="@Model.ApplicationUser.Id" />
                @if (Model.ApplicationUser.LockoutEnd == null)
                {
                    <div class="form-group">
                        <label asp-for="Input.LockoutDate" class="control-label"></label>
                        <input asp-for="Input.LockoutDate" class="form-control" />
                        <span asp-validation-for="Input.LockoutDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Banish @Model.ApplicationUser.UserName" class="btn btn-default btn-danger" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="submit" value="Allow @Model.ApplicationUser.UserName" class="btn btn-default btn-success" />
                    </div>
                }
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
